$gutter: 15rem/20;
$gutter--small: $gutter/3*2;

$red: #F96268;
$blue: #00aaee;
$yellow: #ffb359;
$orange: #f85800;
$green: #36bc99;


$fontBlack: #333333;
$fontGray: #a5a5a5;
$borderGray: #e5e5e5;
$pageGray: #f5f5f9;
