@import '../base/utils';

.fadeInImg {
  visibility: hidden;
  transition: 800ms;
  opacity: 0;
  &.loaded {
    visibility: visible;
    opacity: 1;
  }
}

@include androidLegacy {
  .fadeInImg {
    visibility: visible;
    opacity: 1;
    transition: none;
  }
};

