@import './base/vars';
@import './base/utils';

.list {
  .card-header {
    background: none;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

    &-title {
      font-size: pr(12);
      color: $fontGray;
    }
  }

  &-item {
    display: flex;

    &:last-of-type &-right {
      border-bottom-width: 0;
    }

    &:last-of-type &-left {
      padding-bottom: $gutter--small;
    }

    &-left {
      padding-left: $gutter;
      padding-bottom: $gutter--small;
      padding-top: $gutter--small;
      position: relative;
    }

    &-thumbnail {
      display: block;
      width: pr(45);

      img {
        display: block;
        width: 100%;
      }
    }

    &-right {
      flex: 1;
      display: flex;
      border-bottom: 1px solid $borderGray;
      margin-left: $gutter;
    }

    &-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      padding-top: $gutter--small;
      padding-right: $gutter;
      padding-bottom: $gutter--small;

      word-break: break-word;

      &-title {
        font-size: pr(16);
        color: $fontBlack;
      }

      &-subtitle {
        &:not(:empty) {
          padding-top: pr(3);
        }

        font-size: pr(12);
        color: $fontGray;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:empty) {
        padding-right: $gutter;
      }

      &-item {
        margin-right: $gutter--small/2;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

a.list-item-text {
  padding-right: $gutter * 2;
  background-image: url(../images/ui/ios-arrow-forward.svg);
  background-repeat: no-repeat;
  background-size: pr(16);
  background-position: right $gutter--small bottom 50% ;
}

.no-bgpositionshorthand {
  a.list-item-text {
    margin-right: $gutter--small;
    padding-right: 0;
    background-position-x: 100%;
    background-position-y: 50%;
  }
}


